
body {
    grid-template-columns: 15vw 10vw 5vw 45vw 25vw;
    grid-template-rows: 15vw 5vh calc(85vh - 15vw) 10vh;
}
header {
    font-size: 17px;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--color5);
    background-color: var(--color1);
}
nav {
    color: var(--color5);
    background-color: var(--color2);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    position: sticky;
    width: auto;
    padding: 5px;
    overflow: auto;
}
.news {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: var(--color5);
    overflow: auto;
    color: var(--color1);
}
.notices {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    color: var(--color5);
    background-color: var(--color3);

}
.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--color5);
    width: 100%;
    height: 100%;
}
.logo-img {
    width: calc(15vw - 10px);
    margin: 7px;
}

.skeds {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--color4);
    padding: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}
.skeds-link {
    color: var(--color2);
    border: 2px solid transparent;
}

footer {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    color: transparent;
    transition-duration: 0.25s;

}
footer:hover {
    background-color: var(--color1);
    color: var(--color5);
    transition: 0.25s;
}