<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПСПШ</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    <script src="{% static 'js/menu.js' %}"></script>
</head>
<body>
<header>
    <h1>Православная Свято-Петровская школа</h1>
</header>
<nav>
    <div id="nav-div">
        <ul class="menu-ul">
            <li class='menu-li'>
                <a class='menu-item' href="#">Главная</a>
            </li>
            <li class="dropdown menu-li">
                    <a class="dropbtn menu-item" onclick="openMenu('mediaSubmenu')">Медиа</a>
                    <ul class="dropdown-content" id="mediaSubmenu">
                        <li class='sub-menu-li'>
                            <a class='sub-menu-item' href="{% url 'photoalbums'%}">Фото</a>
                        </li>
                        <li class='sub-menu-li'>
                            <a class='sub-menu-item' href="#">Видео</a>
                        </li>
                    </ul>
            </li>

            <li class="dropdown menu-li">
                <a onclick="openMenu('classSubmenu')" class='dropbtn menu-item'>Классы</a>
                <ul class="dropdown-content" id="classSubmenu">
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">1а</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">1б</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">1в</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">1г</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">1д</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">2</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">3</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">4</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">5</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">6</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">7</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">8</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">9</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">10</a></li>
                        <li class='sub-menu-li'><a class='sub-menu-item' href="#">11</a></li>
                </ul>
            </li>

            <li class='menu-li'>
                <a class='menu-item' href="#">ЭЖД</a>
            </li>
        </ul>
    </div>
</nav>
<div class="skeds">
    <a class='skeds-link' href="#">Расписание</a>
</div>
<a class="unexisting" href="#">
<div class="logo">
    <img src="../static/img/tg-logo.png" alt="" class="logo-img">
</div>
</a>
<div class="news">
    <h3>НОВОСТИ</h3>
    <ul>
        {% for new in news %}
        <li>
            <a class="new-link" href="blogs/1/posts/{{new.id}}">
                <h4 class="new-title">{{new.title}}</h4>
                <p class="new-text">{{new.text}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="notices">
    <h3>ОБЪЯВЛЕНИЯ</h3>
</div>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>